<div class="main ">
  <div class="container">
  <div class="contact_leader">
    <p class="contact__paragraph ">
     <span class="designation">Team Leader</span><br>
    A<BR>
    Name - Anonyo Sanyal<br>
    Designation - Software Developer <br>
    Mobile No. - +91-9874182394<br>
    E-mail - anonyo.sanyal@lntinfotech.com<br>
  </p>
  </div>

      <div class="contact_member">
        <p class="contact__paragraph ">
          <span class="designation">Team Member</span><br>
          C<BR>
          Name - Chaitra<br>
          Designation - Software Developer <br>
          Mobile No. - +91-90359772241<br>
          E-mail - chaitra1.m@lntinfotech.com<br>
        </p>
      </div>

      <div class="contact_member">
        <p class="contact__paragraph ">
          <span class="designation">Team Member</span><br>
          A<BR>
          Name - Abhinav Singh<br>
          Designation - Software Developer <br>
          Mobile No. - +91-7870490338<br>
          E-mail - abhinav2.singh@lntinfotech.com<br>
        </p>
      </div>

      <div class="contact_member">
        <p class="contact__paragraph ">
         <span class="designation">Team Member</span><br>
         D<BR>
        Name - Debapratim Chakraborty<br>
        Designation - Software Developer <br>
        Mobile No. - +91-9163583148<br>
        E-mail - debapratim.chakraborty@lntinfotech.com<br>
      </p>
      </div>

      <div class="contact_member">
        <p class="contact__paragraph ">
          <span class="designation">Team Member</span><br>
          S<BR>
          Name - Shubham Khatri<br>
          Designation - Software Developer <br>
          Mobile No. - +91-9893624906<br>
          E-mail - shubham.khatri@lntinfotech.com<br>
        </p>
      </div>
 
  </div>

</div>