<div class="block-20 space-between-blocks">
    <div class="container">
    <div class="about">
      <div class="image">
          <br><br><br><br><br><br><br><br><br><br><br><br><br><br><br>
      </div>
    </div>
      <div class="about">
        <p class="about__paragraph ">
            ACADS Bank Limited is an Indian banking and financial services company headquartered in Mumbai, 
            Maharashtra. It has a base of 5 permanent employees as of 31 Oct 2020. 
            ACADS Bank is India’s largest private sector bank by assets. 
            It is becoming the largest bank in India.<br>
            ACADS Bank provides a number of products and services including wholesale banking,
             retail banking, treasury, auto loans, two-wheeler loans, personal loans, 
            loans against property, consumer durable loan, lifestyle loan and credit cards.<br>
        </p>
      </div>
   
    </div>
  
  </div>