<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Project Gladitor Group 11</title>
</head>

<body>
  <div class="top">
    <span class="top-text">ACADS BANK OF LTI</span>
  </div>

  <!--Nav bar-->
  <div class="nav">
    <ul >
      <li class="nav-text">
        <a [routerLink]="['/homeLink']" class="hero-nav__link">Home</a>
      </li>
      <li class="nav-text">
        <a [routerLink]="['/aboutUs']" class="hero-nav__link">About Us</a>
      </li>
      <li class="nav-text">
        <a [routerLink]="['/homeLink']" class="hero-nav__link">Corporate login</a>
      </li>
      <li class="nav-text">
        <a [routerLink]="['/customerLoginLink']" class="hero-nav__link">Personal Banking</a>
      </li>
      <li class="nav-text">
        <a [routerLink]="['/contactUs']" class="hero-nav__link">Contact Us</a>
      </li>
    </ul>
  </div>

<!-- Routing component-->
<div>
 <router-outlet></router-outlet>
</div>


<!-- footer -->
<div class="footer">
    <p >&copy; 2020 ACADS Bank of LTI. All Rights Reserved.</p>
</div>
</body>

</html>