<div class="block-20 space-between-blocks">
  <div class="container">
    <div class="block__header ">
      <h1 class="block__title ">WHY ACADS ?</h1>
      <p class="block__paragraph">
      Here are the exclusive benefits you will get.
      </p>
    </div>

  
    <div class="benefits">
      <p class="benefits__paragraph  ">
        ACADS Bank offers a Personal Loan to pre-approved customers in just 10 seconds.
        For others, it usually takes about 4 hours. As an already existing customer,
        you can apply via NetBanking on the ACADS Bank website, through an ATM or Loan Assist App.
        Otherwise, you can drop by the nearest branch to get the process started.
        You can get a re-payment tenure that suits your needs. And then you have to make the payments in equated monthly
        instalments or EMI.
        This instalment amount is calculated using the loan amount, the payment tenure,
        and the interest rate.
      </p>
      <div class="benefit-header ">
          <span >Loan</span>
      </div>
    </div>
  



    
    <div class="benefits">
      <p class="benefits__paragraph ">
        <li>Enjoy a zero balance savings account</li>
        <li>Enjoy higher cash transaction limits of Rs.10 Lakh/ month</li>
      <li>Free lifetime Platinum Debit Card for the primary account holder with a daily cash withdrawal limit of Rs. 1,00,000
         and shopping limit of Rs. 5,00,000</li>
         <li>Free lifetime Woman's International Debit Card for all account holders</li>
         <li>MoneyMaximizer: Earn higher interest on idle money in your account by requesting for our automatic sweep out 
           facility where surplus funds are automatically put in a fixed deposit.</li>
      </p>
      <div class="benefit-header ">
          <span >Key Features</span>
      </div>
    </div>
 

    <div class="benefits ">
      <p class="benefits__paragraph">
        <li>Get a Safe Deposit Lockers</li>
         <li> Save more with Super Saver Facilities on your account</li>
         <li>Enjoy a host of benefits and features on your Debit Card</li>
         <li>Annual Maintenance Charge (AMC) waived off for the first year for your first Demat Account</li>
         <li>Our wide network of branches and over 12,259 ATMs ensure all your banking needs are met, no matter where you are</li>
         <li>Get personalised cheques with your name printed on each cheque leaf for enhanced security.</li>
          
      </p>
      <div class="benefit-header ">
          <span >Other Benefits</span>
      </div>
    </div>


  </div>

</div>